@if (Visible) {
  <div class="overlay-background">
    <div class="overlay-content">
      @if (ShowCloseButton) {
        <button @onclick="@(() => Visible = false)" class="close-button">X</button>
      }
      @if (ChildContent is not null) {
        @ChildContent
      }
    </div>
  </div>
}

@code {

  [Parameter]
  public bool Visible { get; set; }

  [Parameter]
  public bool ShowCloseButton { get; set; } = true;

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

}